.Opponent {
	animation: rotation 3s infinite linear;
	-webkit-animation: rotation 3s infinite linear;
}

.paused .Opponent {
	animation: none;
	-webkit-animation: none;
}

@-webkit-keyframes rotation {
	from {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
	}
}

.gamebutton {
	border: black, 10px;
	background: rgb(150, 253, 184);
	color: rgb(13, 14, 13);
	padding: 10px 20px;
	outline: none;
	font-family: monospace;
	cursor: pointer;
}
.gamebutton2 {
	border: black, 10px;
	background: rgb(205, 240, 140);
	color: rgb(13, 14, 13);
	padding: 10px 20px;
	outline: none;
	font-family: monospace;
	cursor: pointer;
}



ul.scoreboard {
   list-style-type: none;
   margin: 0px;
   padding: 0px;
}

li.scoreboard {
   display: inline-flex;
   width: 7.1em;
   border: 2px solid rgb(243, 53, 53);
   margin-top: 10px;
   padding: 5px;
   font-family: monospace;
   background-color: white;
}


html{
	background: url("assets/gotham3.png");
	background-color: rgb(182, 204, 238);
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;

}
